# A Simple SQL Notebook in SQL 2019

The below code cell will print top 10 rows

In [ ]:
use coe declare @model_name varchar(100) = 'vendor model (R)' select top 10 * from [COE].[dbo].vendor_score_models where model_name = @model_name order by vendor_code